volumes : 
    mariadb :
        name : mariadb
        driver : local
        driver_opts :
            device : /Users/antoinedb/Desktop/dev/inception/data/mariadb/
            o : bind
            type : none

    wordpress :
        name : wordpress
        driver : local
        driver_opts :
            device : /Users/antoinedb/Desktop/dev/inception/data/wordpress/
            o : bind
            type : none

networks :
    inception :
        name : inception
        driver : bridge

services :
    mariadb :
        container_name : mariadb
        image : mariadb
        build : ./requirements/mariadb/
        volumes :
            - mariadb:/var/lib/mysql
        env_file :
            - .env
        networks :
            - inception
        restart : unless-stopped
    
    wordpress :
        container_name : wordpress
        build : ./requirements/wordpress/
        image : wordpress
        networks :
            - inception
        volumes :
            - wordpress:/var/www/html
        env_file :
            - .env
        restart : unless-stopped
        depends_on :
            - mariadb

    nginx :
        container_name : nginx
        build : ./requirements/nginx/
        image : nginx
        ports :
            - "443:443"
        volumes :
            - wordpress:/var/www/html
        networks :
            - inception
        restart : unless-stopped
        depends_on : 
            - wordpress
